
/* Start view video */
.stars .fa{
    color: #212529 !important;
}

.stars .fa:hover{
    opacity: 0.6;
}

/* End view video */

/* Start aside video */
.sub-video {
    margin-top: 24px;
}

.sub-video .card {
    border: none;
}

.sub-video .card-body {
    padding: 0px 0px 10px 10px;
}

.sub-video .card-title {
    text-align: left;
    font-size: 16px;
    color: #212529;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 0;
}

.sub-video img:hover {
    opacity: 0.6;
}

.sub-video .card-title:hover {
    color: #777777;
}
/* End aside video */

/* Start Form Login */
.form-login {
    margin-top: 36px;
    border: 1px solid #a2a2a2;
}

.form-login h3{
    font-weight: bold;
}

.container em,
.banner em,
.form-login em {
    font-style: normal;
    color: #f33f3f;
}

.form-login .form-group{
    text-align: left;
}
/* End Form Login */

.form-login .noAccount {
    color: #f33f3f;
}

.form-login .noAccount:hover {
    opacity: 0.6;
}

/* START EDIT VIDEO */
.tab-pane {
    padding: 12px;
}

#editVideo img{
    width: 100%;
    margin-bottom: 12px;
}

#editVideo label {
    font-weight: bold;
}
/* END EDIT VIDEO */
